@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}

body {
    background-color: #0540ac;
}

body h2 {
    color: #fff;
    text-align: center;
    margin-top: 3px;
    margin-bottom: 19px;
}

.pacs1 {
    border: 1px solid #fff;
    margin-right: 1054px;
    border-radius: 5px;
    background-color: #fff;
    margin-left: 70px;
    margin-top: 60px;
    padding-bottom: 9px;
}

.pacs1 img {
    width: 240px;
    height: 210px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.laranja {
    border: 1px solid orange;
    background-color: orange;
    color: #fff;
    padding: 0px;
    margin-right: 181px;
    border-radius: 20px;
    margin-left: 5px;
    font-size: 16px;
}

.nome {
    margin-left: 5px;
    font-size: 19px;
    color: rgb(54, 52, 52);
}

.cidade {
    margin-left: 15px;
}

.partir {
    margin-top: 25px;
}

.preço {
    font-size: 30px;
    font-weight: 700;
    color: rgb(54, 52, 52);
}


