@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}

body {
    background-color: #0540ac;
}

body h2 {
    color: #fff;
    text-align: center;
    margin-top: 3px;
    margin-bottom: 19px;
}

.pacs1 {
    border: 1px solid #fff;
    margin-right: 1124px;
    border-radius: 5px;
    background-color: #fff;
}

.pacs1 img {
    width: 240px;
    height: 210px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;

 
}



