@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
    text-decoration: none;
    list-style-type: none;
}

body {
    background-color: #fff;
}

.header {
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(img/fundo.jpg);
    width: 100%;
    height: 70vh;
    background-size: cover;
    background-position: center;
    position: relative;
}


.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 12px;
}

.navbar h2 {
    color: #fff;
    padding-right: 5rem;
}

.navbar span {
    font-weight: 400;
}

.navbar ul {
    display: flex;
    align-items: center;

}

.navbar ul li {
    position: relative;
    padding: 2px 0;
}

.navbar ul li::after {
    content: '';
    position: absolute;
    left: 0;
    width: 0;
    bottom: 0;
    height: 2px;
    background-color: #fff;
    transition: width 0.5s ease;

}

.navbar ul li:hover::after {
    width: 90%;
}


.navbar ul li a {
    color: #fff;
    margin: 0 25px;
    padding: 0;

}

.titulo {
    color: #fff;
    font-weight: 700;
    font-size: 1.3rem;
    text-align: center;
    margin-top: 100px;
}

.descrição {
    color: #ebe9e9;
    font-size: 14px;
    text-align: center;
    margin-top: 17px;
}

.img1 {
    position: absolute;
    top: 60vh;
    margin-left: 110px;
}

.img1 img {
    width: 300px;
    height: 200px;
}

.img1 p {
    font-size: 15px;
}

.img2 {
    position: absolute;
    top: 60vh;
    margin-left: 500px;
}

.img2 img {
    width: 300px;
    height: 200px;
}

.img2 p {
    font-size: 15px;
}

.img3 {
    position: absolute;
    top: 60vh;
    margin-left: 890px;
}

.img3 img {
    width: 300px;
    height: 200px;
}

.img3 p {
    font-size: 15px;
}

