@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
    text-decoration: none;
    list-style-type: none;
}

body {
    background-color: #fff;
}

.header {
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(img/fundo.jpg);
    width: 100%;
    height: 70vh;
    background-size: cover;
    background-position: center;
    position: relative;
}


.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 12px;
}

.navbar h2 {
    color: #fff;
    padding-right: 5rem;
}

.navbar span {
    font-weight: 400;
}

.navbar ul {
    display: flex;
    align-items: center;

}

.navbar ul li {
    position: relative;
    padding: 2px 0;
}

.navbar ul li::after {
    content: '';
    position: absolute;
    left: 0;
    width: 0;
    bottom: 0;
    height: 2px;
    background-color: #fff;
    transition: width 0.5s ease;

}

.navbar ul li:hover::after {
    width: 90%;
}


.navbar ul li a {
    color: #fff;
    margin: 0 25px;
    padding: 0;

}

.titulo {
    color: #fff;
    font-weight: 700;
    font-size: 1.3rem;
    text-align: center;
    margin-top: 100px;
}

.descrição {
    color: #ebe9e9;
    font-size: 14px;
    text-align: center;
    margin-top: 17px;
}

.img1 {
    position: absolute;
    top: 60vh;
    margin-left: 110px;
}

.img1 img {
    width: 300px;
    height: 200px;
}

.img1 p {
    font-size: 15px;
}

.img2 {
    position: absolute;
    top: 60vh;
    margin-left: 500px;
}

.img2 img {
    width: 300px;
    height: 200px;
}

.img2 p {
    font-size: 15px;
}

.img3 {
    position: absolute;
    top: 60vh;
    margin-left: 895px;
    margin-right: 110px;
}

.img3 img {
    width: 300px;
    height: 200px;
}

.img3 p {
    font-size: 15px;
}

.destinos {
    margin-top: 24%;
    position: relative;
}

.destinos h1 {
    text-transform: uppercase;
    font-size: 2rem;
    text-align: center;
    margin-bottom: 50px;
    color: rgb(5, 4, 68);
}

.destinos span {
    color: #0fb3cf;
}

.des1 {
    margin-left: 100px;
    border: 1px solid #797878;
    padding: 30px 50px;
    margin-right: 750px;
    border-radius: 30px;
}

.des1 img {
    width: 400px;
    height: 300px;
    border-radius: 3px;
}

.des1 p {
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 30px;
}

.des1 a {
    border: 1px solid #797878;
    background-color: rgb(3, 177, 177);
    color: #fff;
    padding: 7px 12px;
    border-radius: 10px;
    margin-top: 10px;
}

.des2 {
    margin-left: 650px;
    border: 1px solid #797878;
    padding: 30px 50px;
    margin-right: 100px;
    border-radius: 30px;
    position: absolute;
    top: 93px;
    right: 0;
}

.des2 img {
    width: 400px;
    height: 300px;
    border-radius: 3px;
}

.des2 p {
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 30px;
}

.des2 a {
    border: 1px solid #797878;
    background-color: rgb(3, 177, 177);
    color: #fff;
    padding: 7px 12px;
    border-radius: 10px;
    margin-top: 10px;
}

.des3 {
    margin-left: 100px;
    border: 1px solid #797878;
    padding: 30px 50px;
    margin-right: 750px;
    border-radius: 30px;
    margin-top: 50px;
}

.des3 img {
    width: 400px;
    height: 300px;
    border-radius: 3px;
}

.des3 p {
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 30px;
}

.des3 a {
    border: 1px solid #797878;
    background-color: rgb(3, 177, 177);
    color: #fff;
    padding: 7px 12px;
    border-radius: 10px;
    margin-top: 10px;
}

.des4 {
    margin-left: 650px;
    border: 1px solid #797878;
    padding: 30px 50px;
    margin-right: 100px;
    border-radius: 30px;
    margin-top: 16px;
    position: absolute;
    top: 90vh;
    right: 0;
}

.des4 img {
    width: 400px;
    height: 300px;
    border-radius: 3px;
}

.des4 p {
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 30px;
}

.des4 a {
    border: 1px solid #797878;
    background-color: rgb(3, 177, 177);
    color: #fff;
    padding: 7px 12px;
    border-radius: 10px;
    margin-top: 10px;
}

.sobre-nós {
    background-color: rgb(5, 4, 68);
    margin-top: 120px;
    padding: 4rem 0;
    box-shadow: 10px -10px 15px rgba(0, 0, 0, 0.4);
    border-radius: 10px;
}

.sobre-nós h2 {
    color: #fff;
    text-transform: uppercase;
    font-size: 2rem;
    margin-bottom: 20px;
    margin-left: 30px;
}

.sobre-nós p {
    color: #fff;
    font-size: 16px;
    line-height: 26px;
    margin-left: 30px;
}

.sobre-nós span {
    color: rgb(255, 196, 0);
}

.rodapé {
    width: 100%;
    background-color: #504f4f;
    margin-top: 190px;
    color: #fff;
    padding: 30px;
}

.rodapé span {
    font-weight: 400;
}

.content {
    display: flex;
    justify-content: center;
}
.content h3 {
    margin-right: 40px;
}

.content p {
    text-align: center;
    margin-left: 120px;
    margin-top: 2px;
}

.pacotes {
    margin-top: 100px;
    margin-bottom: 200px;
}

.conteúdo img {
    width: 100%;
    height: 90vh;
    border-radius: 20px;
    position: relative;
    background: (rgba(0,0,0,0.5),rgba(0,0,0,0.5),rgba(0,0,0,0.5))
}

.conteúdo h2 {
    font-size: 3rem;
    color: rgb(5, 4, 68);
    position: absolute;
    top: 400vh;
    margin-left: 40px;
    -webkit-text-stroke: 2px #fff;
    text-transform: uppercase;
    font-weight: 900;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.1);
}

.conteúdo a {
    position: absolute;
    border: 1px solid #797878;
    background-color: rgb(5, 0, 80);
    color: #fff;
    padding: 7px 12px;
    border-radius: 20px;
    top: 420vh;
    left: 40px;

    
}

.user {
    width: 20px;
    height: 20px;
    margin-left: 25px;
}

.user:hover {
    width: 28px;
    height: 28px;
    transition: 0.3s;
}


