@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
    text-decoration: none;
    list-style-type: none;
}

body {
    background-color: #fff;
}

.header {
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(img/fundo.jpg);
    width: 100%;
    height: 70vh;
    background-size: cover;
    background-position: center;
    position: relative;
}


.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 12px;
}

.navbar h2 {
    color: #fff;
    padding-right: 5rem;
}

.navbar span {
    font-weight: 400;
}

.navbar ul {
    display: flex;
    align-items: center;

}

.navbar ul li {
    position: relative;
    padding: 2px 0;
}

.navbar ul li::after {
    content: '';
    position: absolute;
    left: 0;
    width: 0;
    bottom: 0;
    height: 2px;
    background-color: #fff;
    transition: width 0.5s ease;

}

.navbar ul li:hover::after {
    width: 90%;
}


.navbar ul li a {
    color: #fff;
    margin: 0 25px;
    padding: 0;

}

.titulo {
    color: #fff;
    font-weight: 700;
    font-size: 1.3rem;
    text-align: center;
    margin-top: 100px;
}

.descrição {
    color: #ebe9e9;
    font-size: 14px;
    text-align: center;
    margin-top: 17px;
}

.img1 {
    position: absolute;
    top: 60vh;
    margin-left: 110px;
}

.img1 img {
    width: 300px;
    height: 200px;
}

.img1 p {
    font-size: 15px;
}

.img2 {
    position: absolute;
    top: 60vh;
    margin-left: 500px;
}

.img2 img {
    width: 300px;
    height: 200px;
}

.img2 p {
    font-size: 15px;
}

.img3 {
    position: absolute;
    top: 60vh;
    margin-left: 890px;
    margin-right: 110px;
}

.img3 img {
    width: 300px;
    height: 200px;
}

.img3 p {
    font-size: 15px;
}

.destinos {
    margin-top: 24%;
    position: relative;
}

.destinos h1 {
    text-transform: uppercase;
    font-size: 2rem;
    text-align: center;
    margin-bottom: 50px;
    color: rgb(5, 4, 68);
}

.destinos span {
    color: #0fb3cf;
}

.des1 {
    margin-left: 100px;
    border: 1px solid #797878;
    padding: 30px 50px;
    margin-right: 750px;
    border-radius: 30px;
}

.des1 img {
    width: 400px;
    height: 300px;
    border-radius: 3px;
}

.des1 p {
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 30px;
}

.des1 a {
    border: 1px solid #797878;
    background-color: rgb(3, 177, 177);
    color: #fff;
    padding: 7px 12px;
    border-radius: 10px;
    margin-top: 10px;
}

.des2 {
    margin-left: 650px;
    border: 1px solid #797878;
    padding: 30px 60px;
    margin-right: 100px;
    border-radius: 30px;
    position: absolute;
    top: 93px;
    right: 0;
}

.des2 img {
    width: 400px;
    height: 300px;
    border-radius: 3px;
}

.des2 p {
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 30px;
}

.des2 a {
    border: 1px solid #797878;
    background-color: rgb(3, 177, 177);
    color: #fff;
    padding: 7px 12px;
    border-radius: 10px;
    margin-top: 10px;
}

.des3 {
    margin-left: 100px;
    border: 1px solid #797878;
    padding: 30px 50px;
    margin-right: 750px;
    border-radius: 30px;
    margin-top: 50px;
}

.des3 img {
    width: 400px;
    height: 300px;
    border-radius: 3px;
}

.des3 p {
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 30px;
}

.des3 a {
    border: 1px solid #797878;
    background-color: rgb(3, 177, 177);
    color: #fff;
    padding: 7px 12px;
    border-radius: 10px;
    margin-top: 10px;
}


